//
// Colors
//

// General
$primary: #97aa87;
$secondary: #49573d;
// Text
$headings-color: #49573d;
$body-color: #97aa87;

$dark-background: #22291d;
$bubble-svg: #bfcbb5;
$light-svg: #f1f3ee;

//c
// Typography
//

// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
$font-family-base: "Poppins", sans-serif;
$headings-font-family: "Patrick Hand", serif;
$quote-font-family: "Homemade Apple", serif;

// Size
$font-size-base: 1.125rem; // 18px
$h1-font-size: 60px;
$h2-font-size: 50px;
$h3-font-size: 30px;
$h4-font-size: 25px;
$h5-font-size: 22px;
$h6-font-size: 16px;

// Spacing
$headings-margin-bottom: 1.5rem;
$line-height-base: 1.75;

// Misc
$link-hover-decoration: none;
